<mat-divider></mat-divider>
<div class="stat__container">
    <ng-container *ngIf="stat">
        <div class="stat__content__container">
            <table>
                <tr>
                    <th colspan="2">Users</th>
                    <th colspan="2">Finance</th>
                    <th colspan="5">Orders</th>
                    <th colspan="3">Dishes</th>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>Active</td>

                    <td>Total revenue, BYN</td>
                    <td>Average order price, BYN</td>

                    <td>Total</td>
                    <td>Accepted</td>
                    <td>In way</td>
                    <td>Delivered</td>
                    <td>Canceled</td>

                    <td>Total</td>
                    <td>Available</td>
                    <td>Average price, BYN</td>
                </tr>
                <tr class="stat__data">
                    <td>{{stat.totalUsersCount}}</td>
                    <td>{{stat.activeUsersCount}}</td>
                    <td>{{stat.totalRevenue | number : '1.1-2'}}</td>
                    <td>{{stat.avgOrderPrice | number : '1.1-2'}}</td>
                    <td>{{stat.ordersCount}}</td>
                    <td>{{stat.acceptedOrdersCount}}</td>
                    <td>{{stat.inWayOrdersCount}}</td>
                    <td>{{stat.deliveredOrdersCount}}</td>
                    <td>{{stat.canceledOrdersCount}}</td>
                    <td>{{stat.dishesCount}}</td>
                    <td>{{stat.visibleDishesCount}}</td>
                    <td>{{stat.avgDishPrice | number : '1.1-2'}}</td>
                </tr>
            </table>
        </div>
    </ng-container>
</div>
